/*.json
build
debug
eula.txt
logs
native-minecraft-server
server.properties
sources
world
# Generate reachability data
configuration/reachability-metadata.json
generate-reachability/reachability-config/
generate-reachability/libraries/
generate-reachability/versions/
generate-reachability/*.json
generate-reachability/profiles/
!generate-reachability/server.properties
!generate-reachability/eula.txt
!generate-reachability/package.json
# Node.js
node_modules/
# Apk.js
apk-cache/
packages/
# Docker
cache/